<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="attendances">
      <ion-icon name="flash"></ion-icon>
      <ion-label>ورود - خروج</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reqHist">
      <ion-icon name="apps"></ion-icon>
      <ion-label>
        درخواست ها
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="send"></ion-icon>
      <ion-label>
        ثبت درخواست
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
